h3::first-letter{
    color:#00796b;
     font-size:3em;

}
h3:hover:first-letter {
    color:#4fc3f7;
}
body ul li:nth-child(1):first-letter{
    color:purple;
    font-size: 2em;
    text-decoration: overline;
}
body ul li:nth-child(2):first-letter{
    color:#c51162;
    font-size: 2em;
}
body ul li:nth-child(3):first-letter{
    color:#64dd17;
    font-size: 2em;
}
body ul li:last-child{
    text-decoration: line-through;
}


